*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 70px;
    position: relative;
    margin: 20px;
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif; 
}


#carouselExampleIndicators {
    margin-bottom: 20px;
    margin-top: 20px;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
   
footer {
    margin-top: auto;
    background-color: rgb(66, 66, 66);
  }


/* comienzo del header */

header {
    background:rgb(66, 66, 66);
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logo img{
    width: 96px;
}

.links, li { 
    list-style: none;
}

.links, a {
    text-decoration: none;
    color: white;
}

.dropdown:hover .dropdowncontent{
    display:flex;
}

.dropdowncontent{
    display: none;
    flex-direction: column;
    justify-content: space-between ;
    align-items: center;
    position:absolute;
    padding-top: 24px;
    background-color: rgb(66, 66, 66) ;
    margin-right: 80px;
    min-width: 160px;
    margin-bottom: 24px;
    margin-left: -50px;
}

.dropdown{
    position: relative;
    display: inline-block;
    z-index: 100;
}

li {
    margin-top: 12px;
    margin-bottom: 12px;
}

header nav .menu .links, li { 
    list-style: none;
}

.links li a {
    color: white;
    text-decoration: none;
    padding: 10px 16px;
    display: flex;
    
}

.dropdowncontent{
    min-width: 176px;
}
/* fin del header*/

/* Seccion de paradox del index*/

.paradoxiframe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    column-gap: 20px;
    row-gap: 20px;
}

/* Seccion de paradox del index*/

/* comienzo del login*/

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
}

.formulario label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario .grupo {
    position: relative;
}

.formularioinput{
    width: 100%;
    background: rgb(26, 71, 9);
    color: white;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formularioinput:focus{
   border: 3px solid rgb(240, 240, 240);
   outline: none;
    box-shadow: 3px 0 px 30 px rgba(163, 163, 163, 0.4);
}

.formularioerror{
    font-size: 16px;
    margin-bottom: 0;
    display: none;
}

.formularioerror-activo{
    display: block;
}

.formulariovalidacion{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0; 
}

.checkbox{
    margin-right: 10px;
}

.formgroupterminos,
.formulariomensaje,
.formgroup-btnenviar {
    grid-column: span 2;
}

.formulariomensaje{
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulariomensaje-activo{
    display: block;
}


.formulariomensaje p {
    margin: 0;
}

.formgrup-btnenviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulariobtn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background-color: rgb(26, 71, 9);
    color: white;
    font-weight: bold;
    border:none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulariobtn:hover {
    box-shadow: 3px 0px 30px rgba(219, 219, 219, 0.7);
}

.formularioenviado{
    font-size: 16px;
    color: rgb(26, 71, 9);
    display: none;
}

.formularioenviado-activo{
    display: block;
}

.formgroup-correcto .formulariovalidacion{
    color: rgb(14, 243, 71); 
    opacity: 1;
}

.formgroup-incorrecto .formulariolabel {
    color: red;
}

.formgroup-incorrecto .formulariovalidacion {
    color: red;
    opacity: 1;
}

.formgroup-incorrecto .formularioinput {
    border: 3px solid red ;
}


/* final del login*/

.poster{
    display: flex;
    justify-content: center;
    background-image: url(../img/wallpaper\ 2\ bakcground.jpg);
    background-size: cover;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

/* comienzo del video */

.videos {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

video {
    width: 50%;
}

.Maintext {
    color: white;
}

/*comienza los tutoriales-hoi4*/

.Informacion {
    width: 90%;
    max-width: 1500px;
    margin: 20px auto;
    padding: 32px;
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background-image: url(../img/wallpaper\ 2\ bakcground.jpg)

}

.Informacion > h2 {
    font-size: 32px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
}

.Informacion > p{
    font-size: 20px;
    grid-column: span 2;
}

.Politica {
    width: 90%;
    max-width: 1500px;
    margin: 20px auto;
    padding: 32px;
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    background-image: url(../img/wallpaper\ 2\ bakcground.jpg) ;

}

.Politica > h2 {
    font-size: 32px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
}

.Politica > p{
    font-size: 20px;
    grid-column: span 2;
}

.Politica > div {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.Economia {
    width: 90%;
    max-width: 1500px;
    margin: 20px auto;
    padding: 32px;
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-image: url(../img/wallpaper\ 2\ bakcground.jpg) ;
}

.Economia > h2 {
    font-size: 32px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
}

.Economia > p {
    grid-column: span 3;
    font-size: 20px;
    
}

.Economia img {
    grid-column-start: 2;
}

.Economia > div {
    grid-column-start: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    
}

.Militar {
    width: 90%;
    max-width: 1500px;
    margin: 20px auto;
    padding: 32px;
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto auto;
    background-image: url(../img/wallpaper\ 2\ bakcground.jpg) ;
}

.Militar > h2 {
    font-size: 32px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
}

.Militar > p {
    grid-column: span 3;
    font-size: 20px;
}


.Militar > div {
    grid-column-start: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    
}

.Maintext img {
    width:100%;
}

/*Terminan los tutoriales-hoi4*/
/* comienza el footer */

.contacto {
    
    position: relative;
    display: grid;
    grid-template-columns: 20px 20px 20px;
    grid-template-rows: 50px 30px 100px;
    grid-template-areas: 
    "header header header"
    "steam twitter gmail"
    "steamid twitterid gmailid"
    "derechos derechos derechos";
    justify-content: space-evenly;
    justify-items: center;
    padding-bottom: 32px;
    padding-top: 32px;
    
}

footer {
    background-color: rgb(66, 66, 66) ;
}

.titulo {
    grid-area: header;
    font-size: 30px;
    
}

i {
    
    font-size: 25px;
    
}

.simbolo1 {
    grid-area: steam;
}

.simbolo2 {
    grid-area: twitter;
}

.simbolo3 {
    grid-area: gmail;
}

.texto1 {
    grid-area: steamid;
}

.texto2 {
    grid-area: twitterid;
}

.texto3 {
    grid-area: gmailid;
}

.copyright {
    grid-area: derechos;
}

footer i{
    color: rgb(255, 255, 255);
}


/* termina el footer  */


/* Responsive */

@media screen and (max-width: 720px){
    .formulario{
        grid-template-columns: 1fr;
    }
    
    .formgroupterminos,
    .formulariomensaje,
    .formgroup-btnenviar {
    grid-column: span 1;
    }

    

    .links {
        flex-direction: column;
        justify-content: space-evenly;
        align-items:flex-start;
    }
    .contacto {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
    "header"
    "steam"
    "steamid"
    "twitter" 
    "twitterid"
    "gmail"
    "gmailid"
    "derechos";
    row-gap: 30px;
    
    }

    video {
    width: 80%;
    }

    .paradoxiframe > iframe {
        width: 100%;
    }

    .poster > img{
        width: 100%;
    }
}

